@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

main > section {
  height: 100vh;
  display: flex;
  justify-content: center;
width: 100%;
  background: #7c68ee;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

@media (max-width: 768px) {
  main > section > div {
    font-size: 48px;
  }
}

main > section > div {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

main > section > video {
  width: 100%; /* Değişiklik burada */
  height: 100%; /* Değişiklik burada */
  object-fit: cover; /* Değişiklik burada */
}


#take-left-if {
  margin-left: 10px;
}

.systemtext {
  color: rgb(73, 103, 171);
}


#section-1 {
  background-color: rgb(255, 255, 255);
}

#section-2 {
  background-color: rgb(255, 255, 255);
}

#section-3 {
  background-color: rgb(255, 255, 255);
}



#section-3 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#section-2 {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#section-2 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#section-2 .overlay-text {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 48px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.65);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.glass-textarea {
  position: absolute;
  top: 50%;
  right: 450px;
  transform: translateY(-50%);
  width: 257px;
  height: 70px;
  background: rgba(182, 174, 174, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 45px;
  border: 1px solid rgba(172, 172, 172, 0.35);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  user-select: none; 
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 100%;
  left: 50px;
  margin-top: 17px;
  background: transparent;
  border: none;
  resize: none;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-family: "roboto";
  user-select: none;
  pointer-events: none; 
  cursor: pointer;
}

textarea::placeholder {
  color: rgba(255, 255, 255,0.85); 
}


#right-side-container1 {
  position: fixed;
  top: 200px;
  right: 200px;
  width: 490px;
  height: 450px;
  padding: 20px;
  color: rgba(0, 0, 0,10);
  border-radius: 20px;
  font-size: 1em; /* Yazı boyutunu 1em olarak ayarlayın */
  overflow-y: auto; 
  line-height: 1.25em; /* Satır yüksekliğini 1.25em olarak ayarlayın */
  font-family: 'Nunito', sans-serif;
  background-color: white;
  color: rgb(0, 0, 0);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  overflow: hidden;
}



#texteditor-animated {
  width: 100%;
  height: 90%;
  margin-top: 25px;
  color: rgb(18, 25, 43);
  font-family: 'Fira Code';
  font-size: 16px;
  transition: opacity 0.5s ease, transform 0.3s ease;
  opacity: 1;
}

#header-label-top #texteditor-animated {
  transform: translateY(-10px);
}

#ifimp {
  color: rgb(23, 206, 145);
}
.parimp{
  color: rgb(75, 134, 168);
}

.bigx {
  font-family: 'Fira Code';
  font-size: 20px;
}

#orderimp {
  color: blueviolet;
  cursor: pointer;
}

#altitem1 {
  background-color:rgb(252, 250, 250);
  height: 420px;
}

#toptext1 {
  text-align: center;
  color: #58575a;
  font-size: 18px;
  margin-bottom: 15px;
}


#mnbutton1 {
  background-color: #adadad;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  position:absolute;
  top: 30px;
}
#mnbutton2 {
  background-color: #adadad;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  position:absolute;
  top: 30px;
  left: 35px;
}
#mnbutton3 {
  background-color: #adadad;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  position:absolute;
  top: 30px;
  left: 50px;
}






#right-side-text1 {
  max-height: 100%;
  transition: top 0.3s ease, opacity 0.3s ease;
}

#section-1 video {
  width: 60%;
}



#section-1 {
  position: relative;
  background-color: rgba(18, 25, 43, 0.65);
  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-1 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: rgb(18, 25, 43);
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  width: 448px;
  height: 96px;
  background-color: transparent;
  text-align: center;
  border-radius: 25px;
  padding-left: 100px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.box:hover #icon-container,
.box:hover #text-container {
     cursor: pointer;
     transform: translateX(20px);
}



.icon-container {
  display: flex;
  justify-content: center;
  margin-left: -80px;
  margin-right: 10px;
}

#header-label-middle {
  top: 51%;
}

#header-label-bottom {
  top: 62%;
}



#text-container {
  transition: transform 0.3s ease;
}

#icon-container {
  display: flex;
  justify-content: center;
  margin-left: 0; /* İlk başta sol boşluğu sıfırla */
  margin-right: 10px;
  transition: transform 0.3s ease; /* Transform özelliği için geçiş süresi ve animasyon eğrisi */
cursor: pointer;
}








#footer-label-top {
  position: absolute;
  top: 35%;
  left:250px;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 48px;
}


#footer-label-bottom {
  position: absolute;
  top: 50%;
  left:250px;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 768px) {
  .glass-textarea {
    top: 40%;
    right: 15px;
    width: 100%;
    max-width: 300px;
    height: 50px;
    border-radius: 30px;
  }
  
  #footer-label-top {
    top: 20%;
    left: 50px;
    font-size: 32px;
  }

  #footer-label-bottom {
    top: 30%;
    left: 50px;
    font-size: 16px;
    line-height: 24px;
  }
}









::-webkit-scrollbar {
    width: 0px; /* Kaydırma çubuğunun genişliği */
}
::-webkit-scrollbar-thumb {
    background-color: #161313; /* Kaydırma çubuğu rengi */
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Kaydırma çubuğu rengi (üzerine gelince) */
}
::-webkit-scrollbar-track {
    background-color: transparent; /* Kaydırma çubuğu arka plan rengi */

}











.sabit-gezinme {
    position:absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: transparent; /* Saydam arkaplan */
    color: #000000;
}

.sabit-gezinme ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px 0; /* Menü öğelerinin yatay boşluğu */
    margin: 0;
    background-color: transparent;
}

.sabit-gezinme li {
    margin: 0 10px; /* Menü öğeleri arasındaki boşluk */
}

.sabit-gezinme a {
    text-decoration: none;
    color: rgba(18, 25, 43, 0.65);
    padding: 5px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

.sabit-gezinme a:hover {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    color: black;
}
